<!--Llamamos a layout.html-->
{% extends 'layout.html' %}

{% block body %}
<br>
<div class="container">
  <div class="row justify-content-md-center">
    <div class="col">
      <div class="col-md-auto">
        <h2>Adopta a un hermano menor y te dará amor de por vida.</h2>
      </div>
      <div class="col">
        <h1>Macotas</h1>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="card">

            <div class="card-body">
              <h5 class="card-title">Cachorros</h5>
              <img src="/static/img/little-dog-3680129_960_720.jpg" class="card-img-top" alt="...">
              <a href="#" class="btn btn-primary">Listado</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Adultos
              </h5>
              <img src="/static/img/cat-4136368_960_720.jpg" class="card-img-top" alt="...">
              <a href="#" class="btn btn-primary">Listado</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  {% endblock %}