<!--Llamamos a layout.html-->
{% extends 'layout.html' %}

{% block body %}
<br>
<h1>Contáctanos</h1>
<br>
<div class="card"></div>
<form>
  <div class="form-group">
    <label for="exampleInputEmail1">Correo</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
      placeholder="Correo electrónico">

  </div>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Example textarea</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" cols="5"></textarea>
  </div>

  <button type="submit" class="btn btn-primary">Guardar</button>
</form>
</div>
{% endblock %}