<!--Llamamos a layout.html-->
{% extends 'layout.html' %}

{% block body %}
<br>
<div class="row justify-content-md-center">
  <div class="col-md-auto">
    <h1>Últimas Noticias</h1>
  </div>

</div>

<div class="card" style="width: 18rem;">
  <img src="/static/img/dog-young-dog-small-dog-maltese.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">¿Quiénes somos?</h5>
    <p class="card-text">Somos una organización de voluntarios que le damos cariño, amor y un mejor hogar a los
      animalitos abandonados.
    </p>

  </div>
</div>






{% endblock %}