<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Refugio Garritas</title>
  <link rel="stylesheet" href="/static/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/css/index.css">
  <link href="/static/font/SourceSansPro-Light.ttf" rel="stylesheet">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Refugio Garritas</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Inicio <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="about">¿Quiénes somos?</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="adopta">Adopta</a>
        </li <li class="nav-item">
        <a class="nav-link" href="#">Dona</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contáctanos</a>
        </li>


      </ul>

    </div>
  </nav>

  {% block body %}
  {% endblock %}
  <footer>
    <p>A Rivx Solution.</p>
  </footer>
  <script src="/static/js/jquery-3.4.1.min.js"></script>
</body>


</html>